<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.flutter.plugins.webviewflutter">
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application>
        
        <activity
                android:name=".FileChooserActivity"
                android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
        />

    </application>
</manifest>
